<!-- ##### Blog Area Start ##### -->
<div class="faith-blog-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto">
                    <img src="assets/imgs/core-img/cross.png" alt="">
                    <h3>Para novos membros</h3>
                    <p>Conheça o START! </p>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Blog Area -->
            <div class="col-12 col-lg-4">

            </div>

            <!-- Single Blog Area -->
            <div class="col-12 col-lg-4">
                <div class="single-blog-area mb-100">
                    <div class="blog-thumbnail">
                        <img src="assets/imgs/bg-img/start.jpeg" alt="">
                        <div class="post-date">
                            <a>Aguarde a nova turma</a>
                        </div>
                    </div>
                    <div class="blog-content">
                        <a class="blog-title">Faça o START!</a>
                        <p>O start é o curso para novos membros da church, Nele voce aprende sobre a igreja e os ministérios</p>
                        <a class="readmore-btn">Veja mais</a>
                    </div>
                </div>
            </div>

            <!-- Single Blog Area -->
            <div class="col-12 col-lg-4">

            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Area End ##### -->