<!-- ##### Blog Area Start ##### -->
<div class="faith-blog-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto">
                    <img src="assets/imgs/core-img/cross.png" alt="">
                    <h3>Últimas notícias</h3>
                    <p>Fique ligado nas nossas atualizações! </p>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Blog Area -->
            <div class="col-12 col-lg-4">
                <div class="single-blog-area mb-100">
                    <div class="blog-thumbnail">
                        <img src="assets/imgs/blog-img/1.jpg" alt="">
                        <div class="post-date">
                            <a href="#">03 Janeiro, 2019</a>
                        </div>
                    </div>
                    <div class="blog-content">
                        <a href="#" class="blog-title">Membro novo? faça o START!</a>
                        <p>o start, é para novos membros para entenderem como funciona igreja, venha conferir!</p>
                        <a href="#" class="readmore-btn">leia mais</a>
                    </div>
                </div>
            </div>

            <!-- Single Blog Area -->
            <div class="col-12 col-lg-4">
                <div class="single-blog-area mb-100">
                    <div class="blog-thumbnail">
                        <img src="assets/imgs/blog-img/2.jpg" alt="">
                        <div class="post-date">
                            <a href="#">10 janeiro, 2019</a>
                        </div>
                    </div>
                    <div class="blog-content">
                        <a href="#" class="blog-title">
                            Uma tarde perfeita na igreja</a>
                        <p>Venha! estamos esperando por você, nesse momento de comunhão entre irmãos.</p>
                        <a href="#" class="readmore-btn">Read More</a>
                    </div>
                </div>
            </div>

            <!-- Single Blog Area -->
            <div class="col-12 col-lg-4">
                <div class="single-blog-area mb-100">
                    <div class="blog-thumbnail">
                        <img src="assets/imgs/blog-img/3.jpg" alt="">
                        <div class="post-date">
                            <a href="#">1 fevereiro, 2019</a>
                        </div>
                    </div>
                    <div class="blog-content">
                        <a href="#" class="blog-title">
                            Estudos bíblicos para crianças</a>
                        <p>Conte para os seus amiguinhos!!!
                            Vamos ajudar a espalhar a Mensagem de Deus pra todo mundo!
                            Conto com você!</p>
                        <a href="#" class="readmore-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Area End ##### -->