<!-- ##### Contact Area Start ##### -->
<div id="top">
  <section class="contact-area">

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="contact-info-area">
            <div class="row">
              <ngx-ui-loader [loaderId]="'loader-reservas'" [text]="'Aguarde...'"></ngx-ui-loader>
              <!-- Contact Form Area -->
              <div class="col-12">
                <div *ngIf="!cadastrou; else confirmacao">
                  <div class="contact-form-area">
                    <h5 class="text-center">Cadastro de reserva</h5>
                    <form [formGroup]="formReserva" (submit)="salvar()">
                      <div class="form-group">
                        <label for="name">Nome</label>
                        <input formControlName="nome" type="text" class="form-control" id="name" placeholder="Nome"
                          autocomplete="off">
                      </div>
                      <div class="form-group">
                        <label for="telefone">Telefone</label>
                        <input formControlName="telefone" type="number" class="form-control" id="telefone"
                          placeholder="Telefone" autocomplete="off">
                      </div>

                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Qual horário você deseja ir?</label>
                        <select formControlName="horario" class="form-control" id="exampleFormControlSelect1">
                          <option value="" selected>SELECIONE</option>
                          <option value="10:00">10:00</option>
                          <option value="18:00">18:00</option>
                        </select>
                      </div>

                      <div class="form-group" *ngIf="!ocultarcheckbox">
                        <label for="exampleInputEmail1">Voluntário do dia?</label>
                        <div class="form-control">
                          <div class="form-check form-check-inline">
                            <input formControlName="voluntario" class="form-check-input" type="radio" name="voluntario"
                              id="blankRadio1" value="SIM" aria-label="..." (click)="listarMinisterio()"> SIM
                            <div class="mr-3"></div>
                            <input formControlName="voluntario" class="form-check-input" type="radio" name="voluntario"
                              id="blankRadio2" value="NAO" aria-label="..."> NÃO
                          </div>
                        </div>
                      </div>

                      <div class="form-group" *ngIf="ocultarcheckbox">
                        <label for="exampleFormControlSelect1">Escolha o ministério que você é Voluntário <button
                            class="btn btn-primary btn-sm" (click)="ocultarMinisterio()">Voltar</button></label>
                        <select formControlName="ministerio" class="form-control" id="exampleFormControlSelect1">
                          <option value="" selected>SELECIONE</option>
                          <option value="recepção">Recepção</option>
                          <option value="artes">Artes</option>
                          <option value="louvor">Louvor</option>
                          <option value="mídia">Mídia</option>
                          <option value="estacionamento">Estacionamento</option>
                        </select>
                      </div>
                      <div class="form-group" *ngIf="!ocultarcheckbox">
                        <label for="exampleInputEmail1">Membro?</label>
                        <div class="form-control">
                          <div class="form-check form-check-inline">
                            <input formControlName="membro" class="form-check-input" type="radio" name="membro"
                              id="blankRadio1" value="SIM" aria-label="..."> SIM
                            <div class="mr-3"></div>
                            <input formControlName="membro" class="form-check-input" type="radio" name="membro"
                              id="blankRadio2" value="NAO" aria-label="..."> NÃO
                          </div>
                        </div>
                      </div>
                      <div class="text-center">
                        <button class="btn faith-btn" type="submit" [disabled]="formReserva.invalid">SALVAR</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <ng-template #confirmacao>
                <div class="col-12">
                  <div class="text-center">RESERVA FEITA COM SUCESSO!</div>

                </div>
              </ng-template>

            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- ##### Contact Area End ##### -->