
            <!-- ##### About Area Start ##### -->
            <section class="faith-about-area section-padding-100-0">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="about-content">

                                    <!-- <img src="assets/imgs/core-img/holy-star.png" alt=""> -->
                                    
                                    <h2>“Bem-aventurado aquele que se refugia Nele.”</h2>
                                    <h6>“O Senhor é a minha rocha, a minha fortaleza e o meu libertador;
                                         o meu Deus é a minha rocha, em que me refúgio; o meu escudo e o meu poderoso salvador.
                                          Ele é a minha torre alta, o meu abrigo seguro. Tu, Senhor, És o meu salvador.” Samuel 22:2–3</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- ##### About Area End ##### -->
        