<div class="breadcumb-area bg-img" style="background-image: url(assets/imgs/bg-img/ministracoes_bg.jpeg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 col-md-6">
        <div class="breadcumb-text">
          <h5>Quer receber mais de Deus? temos uma palavra pra você!</h5>
          <h2>Ministrações</h2>
          <p>"E disse-lhes: Ide por todo o mundo, pregai o evangelho a toda criatura." Marcos 16:15</p>
        </div>
      </div>
    </div>
  </div>
</div>