<!-- ##### Hero Area Start ##### -->
<section class="hero-area">
    <div class="hero-slides ">
        <owl-carousel #owlElement [options]="mySlideOptions" [carouselClasses]="['owl-theme', 'sliding']">

            <div class="single-hero-slide bg-img bg-overlay"
                style="background-image: url(assets/imgs/bg-img/pastores_bg.jpeg);">


                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-end">
                        <div class="col-12 col-lg-7">
                            <!-- Slides Content -->
                            <div class="hero-slides-content">
                                <h6 class="date" data-animation="fadeInUp" data-delay="100ms">Todo domingo às 18:30</h6>
                                <h3 data-animation="fadeInUp" data-delay="300ms">
                                    Venha e traga a sua família</h3>
                                <h2 data-animation="fadeInUp" data-delay="500ms">Culto da Família</h2>
                                <p data-animation="fadeInUp" data-delay="700ms">“Alegrei-me com os que me disseram:
                                    Vamos à casa do Senhor." Salmos 122:1</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Event Button -->
                <!-- <div class="next-event-btn" data-animation="bounceInDown" data-delay="900ms">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-right">
                                <a  class="btn faith-btn active">Mais informações</a>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>

            <div class="single-hero-slide bg-img bg-overlay"
                style="background-image: url(assets/imgs/bg-img/ministerios.jpeg);">


                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-end">
                        <div class="col-12 col-lg-7">
                            <!-- Slides Content -->
                            <div class="hero-slides-content">
                                <h6 class="date" data-animation="fadeInUp" data-delay="100ms">Toda Quinta às 19:30</h6>
                                <h3 data-animation="fadeInUp" data-delay="300ms">
                                    Deixe Deus guiar o seu caminho</h3>
                                <h2 data-animation="fadeInUp" data-delay="500ms">De cara na palavra</h2>
                                <p data-animation="fadeInUp" data-delay="700ms">“Deus não te chama pelo seu talento,
                                    mas pelas suas impossibilidades. É Ele quem faz acontecer.”</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Event Button -->
                <!-- <div class="next-event-btn" data-animation="bounceInDown" data-delay="900ms">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-right">
                                <a  class="btn faith-btn active">Mais informações</a>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>


            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img bg-overlay"
                style="background-image: url(assets/imgs/events/deep.JPG);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-lg-7">
                            <!-- Slides Content -->
                            <div class="hero-slides-content">
                                <h6 class="date" data-animation="fadeInUp" data-delay="100ms">Todo sábado às 19:00</h6>
                                <h3 data-animation="fadeInUp" data-delay="300ms">Jovens em busca de viver o profundo com
                                    Cristo</h3>
                                <h2 data-animation="fadeInUp" data-delay="500ms">DEEP</h2>
                                <p data-animation="fadeInUp" data-delay="700ms">O DEEP é o culto do Ministério de Jovens
                                    da Nova Aliança Church, formado por jovens que, assim como Jesus, não fazem acepção
                                    de pessoas.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Event Button -->
                <div class="next-event-btn" data-animation="bounceInDown" data-delay="900ms">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-right">
                                <a href="#" class="btn faith-btn active">Mais informações</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Hero Slide -->
        </owl-carousel>
    </div>
</section>