<!-- ##### Ministries Area Start ##### -->
<section class="ministries-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto">
                    <img src="assets/imgs/core-img/cross.png" alt="">

                    <h3>MINISTÉRIOS</h3>
                    <p>"Visto que estão ansiosos por terem dons espirituais, procurem crescer
                        naqueles que trazem a edificação para a igreja".
                        1 Coríntios 14:12</p>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-ministry mb-100">
                    <img id="recepcao" src="assets/imgs/events/recepcao.jpeg" alt="">
                    <div class="ministry-content">
                        <h6>Ministério de Recepção</h6>

                        <p>
                            Aqui na nossa Casa amamos receber bem as pessoas. Acreditamos que Deus começa revelar o seu
                            amor ali na porta, em cada sorriso, em cada abraço, em cada “que bom que você está aqui”.
                            Muitas pessoas chegam aqui sentindo-se destruídas por dentro, e buscamos estar preparados
                            para amar e abraçar cada um que Jesus atraiu até aqui.
                        </p>
                        <div class="ministry-btn">
                            <!-- <a href="#" class="btn faith-btn">Veja mais</a> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-ministry mb-100">
                    <img id="artes" src="assets/imgs/events/artes.jpeg" alt="">
                    <div class="ministry-content">
                        <h6>Ministério de Artes</h6>
                        <p>
                            Somos uma família que também ama ministrar através das artes. Deus quer que ocupemos todas
                            as esferas da sociedade, levar a palavra dEle do rico ao pobre, do cego ao surdo. Através da
                            nossa arte, expressamos o amor de Deus de forma simples.

                            Acreditamos que em cada coreografia, peça musical, monólogo ou em qualquer coisa que
                            criarmos, Deus tem algo para entregar ao seu povo! Nossa missão através das artes é relevar
                            a glória de Deus, o verdadeiro artista.
                        </p>
                        <div class="ministry-btn">
                            <!-- <a href="#" class="btn faith-btn">Veja mais</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-ministry mb-100">
                    <img src="assets/imgs/events/louvor.jpeg " class="img-louvor">
                    <div class="ministry-content">
                        <h6>Ministério de Louvor</h6>
                        <p>
                            Quando a família Nova Aliança Church se reúne para adorar a Deus, o Ministério de Louvor é a
                            ferramenta usada pra preparar o ambiente e conduzir pessoas a uma verdadeira adoração. Um
                            momento de entrega em que nos desligamos de tudo e concentramos nossas mentes e corações ao
                            Senhor, porque Ele é o foco. Ele é amor de nossas vidas e é por Ele que vivemos.

                        </p>
                        <div class="ministry-btn">
                            <!-- <a href="#" class="btn faith-btn">Veja mais</a> -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Ministry Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-ministry mb-100">
                    <img src="assets/imgs/events/MIDIA.JPG">
                    <div class="ministry-content">
                        <h6>Ministério de Mídia</h6>
                        <p>
                            Os voluntários responsáveis pela filmagem, reportagem, entrevistas, fotografia, vídeos,
                            datashow, equipamento de som, redes sociais e assessoria de comunicação estão reunidos neste
                            ministério com um único propósito: propagar o nome de Jesus e fazê-lo conhecido.

                            O brasileiro passa em média 9h por dia na internet. Então, se existe um lugar que a igreja
                            também precisa estar para fazer Jesus conhecido é na internet. Essa é a estratégia que Deus
                            nos deu para propagar o seu nome e o seu amor à todas as nações “até os confins da terra”.
                        </p>
                        <div class="ministry-btn">
                            <!-- <a href="#" class="btn faith-btn">Veja mais</a> -->
                        </div>
                    </div>
                </div>
            </div>


            <!-- Single Ministry Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-ministry mb-100">
                    <img id="artes" src="assets/imgs/events/alianca_kids.JPG" alt="">
                    <div class="ministry-content">
                        <h6>Ministério Aliança Kids</h6>

                        <p>
                            “Ensina a criança no caminho em que deve andar, e ainda quando for velho não se desviará
                            dele.” (Pv 22:6)

                            As crianças de hoje são os adultos do futuro, são a próxima geração de cristãos. Ajudar a
                            prepará-los para trilhar os caminhos do evangelho de Cristo é a missão do Ministério Aliança
                            Kids, que com o apoio de dezenas de voluntários se dedica a alcançar, ensinar, discipular e
                            conduzir crianças de 2 a 9 anos a ter um relacionamento íntimo e sincero com Deus e a partir
                            disso servi-lo com amor e proclamar o nome de Jesus para todo o mundo
                        </p>
                        <div class="ministry-btn">
                            <!-- <a href="#" class="btn faith-btn">Veja mais</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Ministry Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-ministry mb-100">
                    <img id="artes" src="assets/imgs/events/deep.JPG" alt="">
                    <div class="ministry-content">
                        <h6>DEEP</h6>

                        <p>
                            E aí, beleza? Somos uma família e queremos que se sinta à vontade para fazer parte dela. O
                            DEEP é o culto do Ministério de Jovens da Nova Aliança Church, formado por jovens que, assim
                            como Jesus, não fazem acepção de pessoas. Acreditamos no amor e no propósito de Cristo e na
                            transformação de vidas através do relacionamento sincero com Ele. Buscamos ajudar jovens a
                            conhecer a Deus e entender seu potencial e sua verdadeira missão e propósito no mundo. Nos
                            reunimos aos sábados para louvar ao Senhor, compartilhar o amor de Jesus e encorajar uns aos
                            outros em seus desafios. Bora?
                        </p>
                        <div class="ministry-btn">
                            <!-- <a href="#" class="btn faith-btn">Veja mais</a> -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Ministry Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-ministry mb-100">
                    <img id="artes" src="assets/imgs/events/intercessao.jpeg" alt="">
                    <div class="ministry-content">
                        <h6>Ministério de Intercessão</h6>

                        <p>
                            A oração é um dos pilares da igreja. Sem oração, que é o que nós conecta com Deus, não
                            existe igreja. Interceder, no entanto, significa literalmente “interpor-se”, “colocar-se
                            entre”. O Ministério de Intercessão é formado por voluntários que se interpõe em oração pelo
                            fortalecimento da igreja, dos ministérios, pela manifestação e pelo agir de Deus na vida dos
                            irmãos, dos perdidos, das autoridades e de todo o mundo.

                            “Antes de tudo, recomendo que se façam súplicas, orações, intercessões e ação de graças por
                            todos os homens; pelos reis e por todos os que exercem autoridade, para que tenhamos uma
                            vida tranquila e pacífica, com toda a piedade e dignidade.” (1 Timóteo 2:1-4).
                        </p>
                        <div class="ministry-btn">
                            <!-- <a href="#" class="btn faith-btn">Veja mais</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Ministry Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-ministry mb-100">
                    <img id="artes" src="assets/imgs/events/estacionamento.JPG" alt="">
                    <div class="ministry-content">
                        <h6>Estacionamento</h6>

                        <p>
                            Quem chega de carro na nossa Casa conta com a ajuda de uma equipe linda de voluntários que
                            organizam o nosso estacionamento. Deus também age através deles, que transbordam amor na
                            vida de quem vem visitar nossa família.
                        </p>
                        <div class="ministry-btn">
                            <!-- <a href="#" class="btn faith-btn">Veja mais</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Ministry Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-ministry mb-100">
                    <img id="artes" src="assets/imgs/events/casais.jpeg" alt="">
                    <div class="ministry-content">
                        <h6>Casais</h6>

                        <p>
                            Família é um lindo projeto de Deus e estamos aqui para abraçar e guiar casais que aceitaram
                            esse projeto, que também é um grande desafio. Deus criou o casamento para ser uma benção, um
                            presente. Mas sabemos que a caminhada a dois tem seus dias de luta. É para ajudar vencer
                            esses dias que estamos aqui. Mais do que reacender a chama, é preciso manter ela acesa.
                            Chega mais!
                        </p>
                        <div class="ministry-btn">
                            <!-- <a href="#" class="btn faith-btn">Veja mais</a> -->
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- ##### Ministries Area End ##### -->