<!-- ##### Ministries Area Start ##### -->
<section class="ministries-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto">
                    <img src="assets/imgs/core-img/cross.png" alt="">
                    <h3>Os ministérios</h3>
                    <p>Assim acontece com vocês. Visto que estão ansiosos por terem dons espirituais, procurem crescer
                        naqueles que trazem a edificação para a igreja.
                        1 Coríntios 14:12</p>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Ministry Area -->
            <div class="col-12 col-md-6">
                <div class="single-ministry mb-100">
                    <img src="assets/imgs/bg-img/m1.jpg" alt="">
                    <div class="ministry-content">
                        <h6>Ministério da Mulher</h6>
                        <p>O Ministério de Mulheres é voltado,
                            principalmente,
                            para atender as necessidades da mulher da Igreja e da comunidade,
                            de um modo integral nas quatro áreas da vida: física, mental, social e espiritual.
                            O propósito do nosso Ministério é servir a Deus, promovendo comunhão, integração, ação
                            social e evangelização.</p>
                        <div class="ministry-btn">
                            <a href="#" class="btn faith-btn">Veja mais</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Ministry Area -->
            <div class="col-12 col-md-6">
                <div class="single-ministry mb-100">
                    <img src="assets/imgs/bg-img/m2.jpg" alt="">
                    <div class="ministry-content">
                        <h6>Ministério infantil</h6>
                        <p>O Ministério Infantil é realmente muito especial. É por meio dele que é possível plantar a
                            semente em terra boa, regar com amor e alegria, para colher os melhores frutos no futuro.
                            E todas as crianças são importantes e amadas por Deus, todas têm dons espirituais
                            concedidos pelo Senhor Jesus Cristo</p>
                        <div class="ministry-btn">
                            <a href="#" class="btn faith-btn">Veja mais</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Ministry Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-ministry mb-100">
                    <img id="artes" src="assets/imgs/events/ministerio_de_artes.jpg" alt="">
                    <div class="ministry-content">
                        <h6>Ministério de Artes</h6>

                        <p> Lovar a Deus através de expressões corporais, com amor e dedicação, se junte conosco!</p>
                        <div class="ministry-btn">
                            <a href="#" class="btn faith-btn">Veja mais</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Ministry Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-ministry mb-100">
                    <img id="recepcao" src="assets/imgs/events/recepcao.jpg" alt="">
                    <div class="ministry-content">
                        <h6>Ministério de Recepção</h6>

                        <p>Receber bem não deve ser apenas um gesto de aperto de mão, mas sim um sentimento que vem de
                            dentro.
                        </p>
                        <div class="ministry-btn">
                            <a href="#" class="btn faith-btn">Veja mais</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Ministry Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-ministry mb-100">
                    <img src="assets/imgs/events/midia.jpg" alt="">
                    <div class="ministry-content">
                        <h6>Ministério de Mídia</h6>
                        <p>Instrumento da divulgação da palavra de
                            Deus através de ferramentas e recursos tecnológicas</p>
                        <div class="ministry-btn">
                            <a href="#" class="btn faith-btn">Veja mais</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ##### Ministries Area End ##### -->