

<!-- ##### Header Area Start ##### -->
<header class="header-area"> 
    <!-- Top Header Area -->
    <div class="top-header">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <div class="top-header-content h-100 d-flex align-items-center justify-content-end">
                        <!-- Next Events Countdown -->
                        <div class="next-events-countdown d-flex align-items-center">
                            <p>Próximo grande evento (Na Pressão):</p>

                            <div class="events-cd">
                                <span>
                                    
                                    <countdown-timer [end]="'2019-03-13 19:00:00'"></countdown-timer>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div class="faith-main-menu" style="width: 1905px; position: fixed; top: 0px; z-index: inherit;">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="faithNav">

                    <!-- Logo -->
                    <a class="nav-brand" [routerLink]="['']"><img src="assets/imgs/core-img/logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a [routerLink]="['']">Home</a></li>
                                <li><a href="ministries.html">Ministérios</a></li>
                                <li><a href="sermons.html">Ministrações</a></li>
                                <li><a href="contact.html">Contato</a></li>
                            </ul>

                            <!-- Search Button -->
                            <div class="search-btn">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>

                            <!-- Donate Button -->
                            <div class="donate-btn">
                                <a href="#">Enviar doações</a>
                            </div>

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>