<!-- ##### Header Area Start ##### -->
<div class="container">
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="top-header-content h-100 d-flex align-items-center justify-content-end">
                            <!-- Next Events Countdown -->
                            <div class="next-events-countdown d-flex align-items-center">
                                <p>Próximo grande evento (Na Pressão):</p>

                                <div class="events-cd">
                                    <span>

                                    <countdown-timer [end]="'2019-03-13 19:00:00'"></countdown-timer>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="fixed-top">
            <!-- Navbar Area -->
            <div class="faith-main-menu header " style="width: 1905px; position: relative; top: 0px; z-index: inherit;">
                <div class="classy-nav-container breakpoint-off">
                    <div class="container">
                        <!-- Menu -->
                        <nav class="classy-navbar justify-content-between" id="faithNav">

                            <!-- Logo -->

                            <div *ngIf="isMobile; else Desktop">
                                <li class="nav-item dropdown drodpdownOver">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-align-justify"></i> Menu
                                    </a>
                                    <div class="dropdown-menu dropdown-toggle drodpdownOver" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" [routerLink]="['']">Home</a>
                                        <a class="dropdown-item" [routerLink]="['ministerios']">Ministérios</a>
                                        <a class="dropdown-item" [routerLink]="['ministracoes']">Ministrações</a>
                                        <!-- <a class="dropdown-item" [routerLink]="['contribuicoes']">Contribuições</a>
                                        <a class="dropdown-item" [routerLink]="['contato']">Contato</a> -->
                                    </div>
                                </li>
                            </div>
                            <ng-template #Desktop>
                                <a class="nav-brand test" [routerLink]="['']"><img src="assets/imgs/nova_alianca_branca.png" alt="" width="100px"></a>
                            </ng-template>
                            <!-- Menu -->
                            <div *ngIf="!manipularDivs">
                                <div class="classy-menu">

                                    <!-- Close Button -->
                                    <div class="classycloseIcon">
                                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                    </div>

                                    <!-- Nav Start -->
                                    <div class="classynav">
                                        <ul>
                                            <li><a [routerLink]="['']">Home</a></li>
                                            <li><a [routerLink]="['ministerios']">Ministérios</a></li>
                                            <li><a [routerLink]="['ministracoes']">Ministrações</a></li>
                                            <!-- <li><a [routerLink]="['contribuicoes']">Contribuições</a></li>
                                            <li><a [routerLink]="['contato']">Contato</a></li> -->
                                        </ul>

                                        <!-- Search Button -->
                                        <!-- <div class="search-btn">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>-->
                                        <div class="search-btn"></div>
                                        <div class="search-btn"></div>

                                        <!-- Donate Button -->
                                        <div class="right-donate">
                                            <div class="donate-btn">
                                                <a href="#">Enviar doações</a>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- Nav End -->
                                </div>
                            </div>
                            <!-- Menu End-->


                        </nav>

                    </div>
                </div>
            </div>
        </nav>
    </header>
</div>