<!-- ##### CTA Area Start ##### -->
<div class="faith-cta-area">
    <!-- <div class="container">
        <div claimgss="row">
            <div class="col-12">
                <div class="cta-text d-flex justify-content-between align-items-center">
                    <h5>Venha nos visitar! Estamos esperando por você!</h5>
                    <a href="#" class="btn faith-btn">
                        Informações para visitantes</a>
                </div>
            </div>
        </div>
    </div> -->
</div>
<!-- ##### Hero Area End ##### -->