<!-- ##### Pastors Area Start ##### -->
<section class="pastors-area section-padding-100-0 bg-img bg-overlay" style="background-image: url(assets/imgs/lideranca/background_pastors.JPG);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading white text-center mx-auto">
                    <img src="assets/imgs/core-img/cross.png" alt="">
                    <h3>Nossos Ministros</h3>
                    <p>Pastoral é formado por homens e mulheres de Deus, sempre dispostos a serem bençãos para o Reino
                        de Deus..</p>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Pastors Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-pastor-area mb-100">
                    <img src="assets/imgs/lideranca/pastores_telma_elias.JPG" alt="">
                    <div class="pastor-content">
                        <h5>Elias e Telma</h5>
                        <h6>Pastores</h6>
                        <div class="pastor-meta d-flex align-items-center justify-content-between">

                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Pastors Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-pastor-area mb-100">
                    <img src="assets/imgs/lideranca/pastores_neto_kamy.JPG" alt="">
                    <div class="pastor-content">
                        <h5>Luiz Timóteo e Kamylla Perusso</h5>
                        <h6>Pastores de jovens</h6>
                        <div class="pastor-meta d-flex align-items-center justify-content-between">

                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Pastors Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-pastor-area mb-100">
                    <img src="assets/imgs/lideranca/pastores_paulo_atermisia.JPG" alt="">
                    <div class="pastor-content">
                        <h5>Paulo Jr e Artemísia</h5>
                        <h6>Pastores</h6>
                        <div class="pastor-meta d-flex align-items-center justify-content-between">

                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Pastors Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-pastor-area mb-100">
                    <img src="assets/imgs/lideranca/lideres_midia_rafael_dhy.JPG" alt="">
                    <div class="pastor-content">
                        <h5>Rafael Oliveira e Dhyene Brissow</h5>
                        <h6>Lideres de Mídia</h6>
                        <div class="pastor-meta d-flex align-items-center justify-content-between">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Pastors Area End ##### -->