<!-- ##### Pastors Area Start ##### -->
<section class="pastors-area section-padding-100-0 bg-img bg-overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading black text-center mx-auto">
                    <img src="assets/imgs/core-img/cross.png" alt="">
                    <h3>PASTORES</h3>
                    <p>Pastoral é formado por homens e mulheres de Deus, sempre dispostos a serem bençãos para o Reino
                        de Deus..</p>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Pastors Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-pastor-area mb-100">
                    <img src="assets/imgs/lideranca/pastores_telma_elias.JPG" alt="">
                    <div class="pastor-content">
                        <h5>Elias Timóteo e Telma Silva</h5>
                        <h6>Pastores</h6>
                        <div class="pastor-meta d-flex align-items-center justify-content-between">

                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Pastors Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-pastor-area mb-100">
                    <img src="assets/imgs/lideranca/andrey_cristina.jpeg" alt="">
                    <div class="pastor-content">
                        <h5>Andrey Arcos e Cristina Arcos</h5>
                        <h6>Pastores</h6>
                        <div class="pastor-meta d-flex align-items-center justify-content-between">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Pastors Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-pastor-area mb-100">
                    <img src="assets/imgs/lideranca/pastores_paulo_atermisia.JPG" alt="">
                    <div class="pastor-content">
                        <h5>Paulo Jr e Artemísia Batista </h5>
                        <h6>Pastores</h6>
                        <div class="pastor-meta d-flex align-items-center justify-content-between">

                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Pastors Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-pastor-area mb-100">
                    <img src="assets/imgs/lideranca/pastores_neto_kamy.JPG" alt="">
                    <div class="pastor-content">
                        <h5>Luiz Timóteo e Kamylla Perusso</h5>
                        <h6>Pastores de jovens</h6>
                        <div class="pastor-meta d-flex align-items-center justify-content-between">

                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Pastors Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-pastor-area mb-100">
                    <img src="assets/imgs/lideranca/felippe_cavalcante.jpeg" alt="">
                    <div class="pastor-content">
                        <h5>Felippe Cavalcante</h5>
                        <h6>Pastor</h6>
                        <div class="pastor-meta d-flex align-items-center justify-content-between">

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- ##### Pastors Area End ##### -->