<!-- ##### Donate Area Start ##### -->
<section class="donate-our-charities section-padding-100 bg-img bg-overlay"
    style="background-image: url(assets/imgs/bg-img/bg-3.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading white text-center mx-auto">
                    <img src="assets/imgs/core-img/cross.png" alt="">
                    <h3>
                        Ajude os ministérios</h3>
                    <p>Quanto for possível,
                        não deixe de fazer o bem
                        a quem dele precisa.
                        Provérbios 3:27</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div _ngcontent-c3="" class="col-12 col-sm-6 col-lg-4">
                <div class="single-ministry mb-100"><img _ngcontent-c3="" alt="">
                    <div _ngcontent-c3="" class="ministry-content">
                        <h6>Contas para doações</h6><br>
                        <p style="color: #E90041"><strong>BRADESCO</strong></p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Agência</th>
                                    <th scope="col">Conta/C</th>
                                    <th scope="col">Titular</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2811</td>
                                    <td>31390-4</td>
                                    <td>01543224237</td>
                                </tr>
                            </tbody>
                        </table>
                        <p style="color:#8B05BE;"><strong>NUBANK</strong></p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Agência</th>
                                    <th scope="col">Conta/C</th>
                                    <th scope="col">Titular</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>0001</td>
                                    <td>5072606-6</td>
                                    <td>01543224237</td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- <div  class="ministry-btn"><a class="btn faith-btn"
                                href="#">Veja mais</a></div> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <!-- 
        <div class="row">
            <div class="col-12">
                <div class="donate-slide owl-carousel   owl-loaded owl-drag">
                    <owl-carousel #owlElement [options]="mySlideOptions" [carouselClasses]="['owl-theme', 'sliding']">


                      
                        <div class="single-donate-slide">

                            <img src="assets/imgs/bg-img/donate1.jpg" alt="">
                         
                            <div class="donate-content">
                                <h4>Edifício da igreja</h4>
                                <p>
                                    Renovar a Igreja</p>
                            </div>
                            
                            <div class="donate-btn text-center">
                                <a href="#" class="btn faith-btn active">Doar</a>
                            </div>
                        </div>
                      
                        <div class="single-donate-slide">
                            <img src="assets/imgs/bg-img/donate2.jpg" alt="">
                       
                            <div class="donate-content">
                                <h4>Teatro</h4>
                                <p>
                                    Para os jovens</p>
                            </div>
                          
                            <div class="donate-btn text-center">
                                <a href="#" class="btn faith-btn active">Doar</a>
                            </div>
                        </div>
                       
                        <div class="single-donate-slide">
                            <img src="assets/imgs/bg-img/donate3.jpg" alt="">
                         
                            <div class="donate-content">
                                <h4>
                                    Mídia</h4>
                                <p>equipe de divulagação</p>
                            </div>
                           
                            <div class="donate-btn text-center">
                                <a href="#" class="btn faith-btn active">Doar</a>
                            </div>
                        </div>
                      
                        <div class="single-donate-slide">
                            <img src="assets/imgs/bg-img/donate4.jpg" alt="">
                        
                            <div class="donate-content">
                                <h4>Church Building</h4>
                                <p>Renovate the Church</p>
                            </div>
                          
                            <div class="donate-btn text-center">
                                <a href="#" class="btn faith-btn active">Donate</a>
                            </div>
                        </div>
                    </owl-carousel>


                </div>
            </div>
        </div> -->
    </div>
</section>