
         <!-- ##### Church Activities Area Start ##### -->
         <section class="church-activities-area section-padding-100-0">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading text-center mx-auto">
                                <img src="assets/imgs/core-img/cross.png" alt="">
                                <h3>Atividades da Igreja</h3>
                                <p>Os cultos  acontecem toda quinta às 19h30, sábado(19:00) e Domingo às(18:30). 
                                    É o momento em que levamos o nosso pensamento para mais perto de Deus. 
                                    Qualquer estilo é bem vindo, a nossa intenção é que com muita alegria e o seu jeitão de ser,
                                     cada pessoa possa desenvolver um relacionamento intenso com Jesus, o nosso Senhor, Salvador e melhor amigo. 
                                     O propósito de todos os cultos  é adorar a Deus, buscar o fortalecimento da nossa fé e do compromisso com os ensinamentos contidos em sua palavra, a Bíblia.
                                      Venha participar do culto conosco! Você não vai se arrepender! Jesus está vivo e quer ser seu amigo!</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <!-- Upcoming Events -->
                            <div class="upcoming-events mb-100">
                                <!-- Headline -->
                                <div class="headline">
                                    <h5>próximos eventos</h5>
                                </div>
        
                                <!-- Single Upcoming Events -->
                                <div class="single-upcoming-events d-flex align-items-center">
                                    <!-- Events Date & Thumbnail -->
                                    <div class="event-date-thumbnail d-flex align-items-center">
                                        <div class="event-date">
                                            <h6>03 <br> Jun <br> 2018</h6>
                                        </div>
                                        <div class="event-thumbnail bg-img" style="background-image: url(assets/imgs/bg-img/event1.jpg);"></div>
                                    </div>
                                    <!-- Events Content -->
                                    <div class="events-content">
                                        <a href="#">
                                            <h6>Estudo bíblico de fim de semana</h6>
                                        </a>
                                        <p>8:00 pm @ Main hall</p>
                                    </div>
                                </div>
        
                                <!-- Single Upcoming Events -->
                                <div class="single-upcoming-events d-flex align-items-center">
                                    <!-- Events Date & Thumbnail -->
                                    <div class="event-date-thumbnail d-flex align-items-center">
                                        <div class="event-date">
                                            <h6>09 <br> Jun <br> 2018</h6>
                                        </div>
                                        <div class="event-thumbnail bg-img" style="background-image: url(assets/imgs/bg-img/event2.jpg);"></div>
                                    </div>
                                    <!-- Events Content -->
                                    <div class="events-content">
                                        <a href="#">
                                            <h6>Estudo Bíblico para Crianças</h6>
                                        </a>
                                        <p>8:00 pm @ Main hall</p>
                                    </div>
                                </div>
        
                                <!-- Single Upcoming Events -->
                                <div class="single-upcoming-events d-flex align-items-center">
                                    <!-- Events Date & Thumbnail -->
                                    <div class="event-date-thumbnail d-flex align-items-center">
                                        <div class="event-date">
                                            <h6>11 <br> Jun <br> 2018</h6>
                                        </div>
                                        <div class="event-thumbnail bg-img" style="background-image: url(assets/imgs/bg-img/event3.jpg);"></div>
                                    </div>
                                    <!-- Events Content -->
                                    <div class="events-content">
                                        <a href="#">
                                            <h6>Estudo bíblico de fim de semana</h6>
                                        </a>
                                        <p>8:00 pm @ Main hall</p>
                                    </div>
                                </div>
        
                                <!-- Single Upcoming Events -->
                                <div class="single-upcoming-events d-flex align-items-center">
                                    <!-- Events Date & Thumbnail -->
                                    <div class="event-date-thumbnail d-flex align-items-center">
                                        <div class="event-date">
                                            <h6>25 <br> Jun <br> 2018</h6>
                                        </div>
                                        <div class="event-thumbnail bg-img" style="background-image: url(assets/imgs/bg-img/event4.jpg);"></div>
                                    </div>
                                    <!-- Events Content -->
                                    <div class="events-content">
                                        <a href="#">
                                            <h6>Estudo Bíblico para Crianças</h6>
                                        </a>
                                        <p>8:00 pm @ Main hall</p>
                                    </div>
                                </div>
        
                                <div class="all-events-btn">
                                    <a href="#" class="btn faith-btn active">Veja todos os eventos</a>
                                </div>
        
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <!--Sermões mais recentes -->
                            <div class="latest-sermons mb-100">
                                <div class="headline">
                                    <h5>Ministrações mais recentes </h5>
                                </div>
        
                                <!-- Single Sermões mais recentes -->
                                <div class="single-sermons">
                                    <div class="sermons-content d-flex align-items-center">
                                        <!-- Sermons Thumbnail -->
                                        <div class="sermons-thumbnail bg-img" style="background-image: url(assets/imgs/events/deep.jpeg);"></div>
                                        <!-- Sermons Content -->
                                        <div class="sermons-text">
                                            <a href="#">
                                                <h6>DEEP - insustentável</h6>
                                            </a>
                                            <p>By Pastor Elias timóteo</p>
                                            <p class="date">02 April, 2018</p>
                                        </div>
                                    </div>
                                    <div class="sermons-audio-player d-flex align-items-center">
                                        <audio preload="auto" controls>
                                            <source src="assets/audio/dummy-audio.mp3">
                                        </audio>
                                        <div class="see-more-btn">
                                            <a href="#">Veja mais</a>
                                        </div>
                                    </div>
                                </div>
        
                                <!-- Single Sermões mais recentes -->
                                <div class="single-sermons">
                                    <div class="sermons-content d-flex align-items-center">
                                        <!-- Sermons Thumbnail -->
                                        <div class="sermons-thumbnail bg-img" style="background-image: url(assets/imgs/bg-img/ser2.jpg);"></div>
                                        <!-- Sermons Content -->
                                        <div class="sermons-text">
                                            <a href="#">
                                                <h6>Na pressão</h6>
                                            </a>
                                            <p>By Pastor Luiz timóteo </p>
                                            <p class="date">02 April, 2018</p>
                                        </div>
                                    </div>
                                    <div class="sermons-audio-player d-flex align-items-center">
                                        <audio preload="auto" controls>
                                            <source src="assets/audio/dummy-audio.mp3">
                                        </audio>
                                        <div class="see-more-btn">
                                            <a href="#">Veja Mais</a>
                                        </div>
                                    </div>
                                </div>
        
                                <!-- Single Sermões mais recentes -->
                                <div class="single-sermons">
                                    <div class="sermons-content d-flex align-items-center">
                                        <!-- Sermons Thumbnail -->
                                        <div class="sermons-thumbnail bg-img" style="background-image: url(assets/imgs/events/gps.jpg);"></div>
                                        <!-- Sermons Content -->
                                        <div class="sermons-text">
                                            <a href="#">
                                                <h6>Série GPS </h6>
                                            </a>
                                            <p>By ministros NA - church</p>
                                            <p class="date">02 April, 2018</p>
                                        </div>
                                    </div>
                                    <div class="sermons-audio-player d-flex align-items-center">
                                        <audio preload="auto" controls>
                                            <source src="assets/audio/dummy-audio.mp3">
                                        </audio>
                                        <div class="see-more-btn">
                                            <a href="#">Veja Mais</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        
            <!-- ##### Church Activities Area End ##### -->