<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <!-- Main Footer Area -->
    <div class="main-footer-area section-padding-100-0 bg-img foo-bg-overlay" style="background-image: url(assets/imgs/bg-img/bg-1.jpg);">
        <div class="container">
            <div class="row">

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="d-flex flex-wrap mb-100">
                        <div class="footer-widget">
                            <div class="widget-title">
                                <a href="#"><img src="assets/imgs/nova_alianca_branca.png" alt="" width="150px"></a>
                            </div>
                            <div class="footer-social-info">
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </div>
                        </div>
                        <div class="copywrite-text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                                template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                                    target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <h6>Contate-Nos</h6>
                        </div>

                        <!-- Single Contact Area -->
                        <div class="single-contact-area mb-30">
                            <p>Endereço:</p>
                            <span>Rua 203, núcleo 16 <br>Cidade Nova, Manaus/AM </span>
                        </div>

                        <!-- Single Contact Area -->
                        <div class="single-contact-area mb-30">
                            <p>Telefones:</p>
                            <span>+55 92 98466-9494 <br>+55 92 98407-1911</span>
                        </div>

                        <!-- Single Contact Area -->
                        <div class="single-contact-area mb-30">
                            <p>Email:</p>
                            <span>faleconosco@novaaliancachurch.com.br</span>
                        </div>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <h6>
                                Links Úteis</h6>
                        </div>
                        <nav>
                            <ul class="useful-links">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Sermons</a></li>
                                <li><a href="#">Ministries</a></li>
                                <li><a href="#">Causes</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Quotes</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <h6>
                                quem somos?</h6>
                        </div>
                        <p>Somos igreja de Cristo e buscamos transmitir o amor de Deus às pessoas e ajudá-las a
                            descobrir o seu propósito para o Reino. Nossa busca tem sido cumprir o propósito de Deus e
                            fazer a diferença na sociedade, formando e transformando vidas.
                            <br>
                            História
                            <br>
                            A Nova Aliança Church foi fundada em agosto de 2012 pelos pastores Elias Timóteo e
                            Telma Silva, na cidade de Manaus. Desde então vem trabalhando para cumprir o propósito de
                            Deus.
                            <br>
                            Somos uma Igreja independente, com duas filiais, uma em
                            Manaus , no bairro Nova Cidade, e outra na cidade de Boa Vista do Ramos, interior do
                            Amazonas.
                        <a href="#" class="btn faith-btn mt-70">Cultura do Reino</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area Start ##### -->

<a id="scrollUp" href="#top" style="position: relative; z-index: 2147483647; display: block;"><i class="fa fa-angle-up"></i></a>
