<div class="breadcumb-area bg-img" style="background-image: url(assets/imgs/bg-img/ministracoes_bg.jpeg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 col-md-6">
        <div class="breadcumb-text">
          <h5>Quer receber mais de Deus? temos uma palavra pra você!</h5>
          <h2>Ministrações</h2>
          <p>"E disse-lhes: Ide por todo o mundo, pregai o evangelho a toda criatura." Marcos 16:15</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="single-sermons style-3">
  <div class="sermons-content d-flex align-items-center">

    <div class="sermons-thumbnail bg-img"
      style="background-image: url(assets/imgs/ministracoes/pregacao1.jpeg);  margin-left: 10px; margin-top: 10px;">
    </div>
    <div class="sermons-text">
      Escrito por: <br>
      <p><i class="fa fa-instagram" ></i><a target="_blank"
          href="https://instagram.com/dhyenebrissow?igshid=18gjfcusk92hg" style="color: #d6249f"> Dhyene Brissow</a></p>
      <p class="date">20 de Maio, 2020</p>
      <div class="text-center"><strong>Você consegue lembrar de como você era? </strong></div>
      <p class="text" style="text-align: justify;">
        “Conheço as tuas obras e tua perseverança... sei que suportaste #provas por causa do meu nome, e não te
        deixaste esmorecer. Tenho, porém, contra ti que abandonaste o teu primeiro amor :fire:Lembra-te, pois, de onde
        caíste, arrepende-te e volta à prática das primeiras obras” (Apocalipse 2.2-5)

        Nesta Carta de Jesus à igreja de Éfeso, na #revelação que deu a João, o Senhor elogiou a igreja em muitas
        coisas, mas disse que ela abandonou o #primeiroamor.

        Já tinha lido esse texto antes, mas desta vez me lembrei de como eu era logo que conheci Jesus. Você consegue
        lembrar de como você era?

        Me lembro que, poucos dias depois de conhecer Cristo, entrei em um ônibus pra ir à minha igreja que ficava bem
        #distante da minha casa. Um senhor me viu com a camisa da minha congregação na época e disse assim: “eu
        também sou de lá. Você é nova convertida né?” Confirmei com a cabeça e indaguei: como sabe? (A igreja
        tinha muita gente, não dava pra saber quem era novo na fé ou não). Ele completou: você ainda queima por Ele.
        Eu disse: o senhor não? E ele: “sim, mas não como no início. No início é uma chama viva em nós. Depois
        fica menor”. Doeu lembrar disso. Percebi que, apesar de tudo que tenho feito pra Deus, a chama já não é tão
        viva como antes. E isso é algo que, sim, depende de nós, da nossa busca por Deus. De nos arrepender,
        reconhecer nossas falhas, orgulho. Não importa quanto tempo temos de igreja, não somos maiores ou melhores que
        ninguém. Não devemos buscar menos ou orar menos porque já somos salvos. Muito pelo contrário.

        A chama do evangelho de Jesus precisa estar bem viva em nossos corações :fire: de modo que não nos
        preocupemos com coisas terrenas porque se confiamos Nele todo o restante será acrescentado.

        Que a chama do primeiro amor por #Jesus, pelos irmãos e pelos perdidos volte a queimar com toda força em
        nossos corações e que Deus encontre em nós mais do que corações disponíveis, mas filhos que o amam
        verdadeiramente independente do que Ele possa dar ou do que Ele possa nos livrar.

      </p>
    </div>
  </div>
</div>